<style>
    .back {
        background-image: url("/css/wall.jpg");
        background-position: center;
        widows: 100%;
        height: 100%;
    }
    .con4 {
        font-size: 20px;
        font-family: "JasmineUPC";
    }
    .bg-3 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      text-align: left;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink = "">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "map">Map</a>
            </li>
        </ul>
    </div>
</nav>
<div class="back" align="center"><br>
    <div class="col-md-7 bg-3" ><br>
        <p class="con4" style="font-size:36px;background:red;text-align:center;"><strong>การเดินทางมาสัมภาษณ์</strong></p>
        <p class="con4" style="padding-bottom:2%;">
            1. ด้วยรถไฟฟ้า BTS สามารถลงสถานีศาลาแดง ณ ทางออกที่ 2<br>
            2. ด้วยรถไฟฟ้า MRT สามารถลงสถานีสีลม ณ ทางออกที่ 2 โดยเดินเรียบทางเท้าไปตามถนนสีลม<br>
            3. ด้วยรถประจำทาง สามารถขึ้นใช้บริการสาย 15, 77, 155, 504, 177, 76<br></p>
    </div><br>
    <img src="/css/map.png" style="margin-bottom:2%;width:60%;height:80%;">
</div>


