<style>
    .back {
        background-image: url("/css/wall.jpg");
        background-position: center;
        widows: 100%;
        height: 100%;
    }
    .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
    }
    .bg-3 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      text-align: left;
    }
    .bg-4 { 
      background-color: white; /* Dark Blue */
      color: #ffffff;
      text-align: left;
    }
    .head {
        font-size: 44px;
    }
    .con1 {
        font-size: 40px;
    }
    .con2 {
        font-size: 23px;
    }
    .con3 {
        font-size: 44px;
    }
    .fontEng {
        font-family: "Comic Sans MS";
    }
    .fontThai {
        font-family: "JasmineUPC";
    }
    .con4 {
        font-size: 24px;
        font-family: "JasmineUPC";
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink = "">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "map">Map</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="window.location = 'https://ywc15.ywc.in.th/landing';">Go to Website</button>
        </form>
    </div>
</nav>
<div class="back" align="center">
    <img src="/css/Logo.png" style="width:25%;margin-top:3%;margin-bottom:3%;">
    <div class="container" style="margin-bottom:5%;">
        <div class="col-md-8 bg-2">
            <br>
            <p class="head" style="background:orange;"><FONT FACE="Comic Sans MS"><strong>Semi-Final-Round</strong></FONT></p>
            <p class="con1"><FONT FACE="JasmineUPC"><strong>ประกาศผู้มีสิทธิ์เข้าสัมภาษณ์</strong></FONT></p>
            <p class="con2"><FONT FACE="JasmineUPC">การสัมภาษณ์จะจัดขึ้นในวันที่ 26 พฤศจิกายน 2560 ณ อาคาร ซี.พี.ทาวเวอร์ 1 (สีลม) <br>
            ซึ่งจะแบ่งออกเป็น 2 รอบคือ รอบเช้าตั้งแต่เวลา 9.00-12.00 น. และรอบบ่ายตั้งแต่เวลา 13.00-18.00 น.</FONT></p>
            <p class="con2" style="padding-bottom:2%;"><FONT FACE="JasmineUPC"><u>หมายเหตุ</u> : สำหรับน้อง ๆ ที่ไม่สะดวกเดินทางมาสัมภาษณ์ที่อาคาร CP Tower สีลม 
                <br>ให้ Inbox มาทางเพจเฟสบุ๊ค Young Webmaster Camp ภายในวันที่ 20 พฤศจิกายน 2560</FONT></p>
        </div>

        <input type="image" alt="Web Programming" src="/css/webpro.jpg" align="middle" routerLink = "programming" 
            style ="background-color:orange;width:22%;height:200px;margin-top:1%;
            border:2px solid #aa9f00;padding:0.5%;margin-right:2.5%;margin-bottom:2.5%;">
        <input type="image" alt="Web Design" src="/css/webd.jpg" align="middle" routerLink = "design" 
            style ="background-color:orange;width:22%;height:200px;margin-top:1%;
            border:2px solid #aa9f00;padding:0.5%;margin-bottom:2.5%;">
        <br>
        <input type="image" alt="Web Content" src="/css/webcontent.jpg" align="middle" routerLink = "content" 
            style ="background-color:orange;width:22%;height:200px;
            border:2px solid #aa9f00;padding:0.5%;margin-right:2.5%;">
        <input type="image" alt="Web Marketing" src="/css/webm.png" align="middle" routerLink = "marketing" 
            style ="background-color:orange;width:22%;height:200px;
            border:2px solid #aa9f00;padding:0.5%;">
    </div>

    <div class="col-md-7 bg-3"><br>
        <p class="con4" style="font-size:36px;background:red;text-align:center;"><strong>สิ่งที่ต้องเตรียมมาในวันสัมภาษณ์</strong></p>
        <p class="con4" style="padding-bottom:2%;">
            1. <strong><u>บัตรประชาชน</u></strong>  สำหรับการแลกบัตรเข้าอาคาร ซี.พี.ทาวเวอร์ 1 (สีลม)<br>
            2. <strong><u>บัตรนักศึกษา</u></strong>  สำหรับการลงทะเบียนสัมภาษณ์<br>
            3. <strong><u>การบ้านและสิ่งที่กรรมการสาขากำหนดไว้</u></strong><br>
                &nbsp;&nbsp; -  กรุณาอ่านรายละเอียดการบ้านและสิ่งที่กรรมการให้เตรียมมาให้ครบถ้วน <br>
                &nbsp;&nbsp; -  หากสาขาใดต้องใช้โน้ตบุ๊ค ควรชาร์ตแบตเตอรี่และเตรียมอินเทอร์เน็ตส่วนตัวมาให้พร้อม <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากสถานที่ไม่มีบริการอินเทอร์เน็ตให้ใช้<br>
            4.  <strong><u>Portfolio</u></strong>  สามารถนำมาประกอบการสัมภาษณ์ได้ (สำหรับน้องๆ สาขาดีไซน์จะต้องนำ Portfolio มาด้วยทุกคน)</p>
    </div><br>

    <div class="col-md-7 bg-4" ><br>
        <p class="con4" style="font-size:36px;background:green;text-align:center;"><strong>จำนวนผู้ผ่านเข้ารอบสัมภาษณ์</strong></p>
        <canvas id="myChart"></canvas>
    </div><br>
    
    <div class="col-md-7 bg-3"><br>
        <p class="fontEng" style="font-size:36px;background:#ff80aa;text-align:center;"><strong>Contact Us</strong></p>
        <p class="con4" style="padding-bottom:2%;">
            พี่เบ๊บ : 064-174-7080<br>
            พี่ฟง : 092-458-7067<br>
            พี่เบนซ์ : 085-666-7571
        </p>
    </div><br>
</div>